$sidebarBoxShadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
$inputBackground: #ffffff;
$inputBorderColor: #C9CACC;
$buttonBackground: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
$buttonHover: linear-gradient(104.34deg, #2210c5 -15.34%, #db0d0d 145.95%);
//$buttonAfter: 
$buttonShadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
$buttonText: #FFFFFF;