.hotelBlock {
  display: flex;
  justify-content: space-between;
 

  .descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .styleStar {
      width: 20px;
      height: 20px;
    }
    .price{
      
      .styleHeart{
        background-color: red;
      }
    }
  }
}
