.mainBlock {
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
  justify-content: center;
  min-height: 100vh;
  .header {
    display: flex;
    justify-content: space-between;
    .name{
      margin-left: 10px;
    }
    .logout {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .image{
      width: 15px;
      height: 15px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .desctopBlock {
    display: flex;
    justify-content: center;
    .sideBar {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
    }
  }
}
