@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.favoutitesBlock {
  @include sidebar(flex-start);

  .input {
    outline: none;
  }
  .favourite {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
}
