@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.favoutitesBlock {
  padding: 32px;
  background: #ffffff;

  width: 360px;
  height: 410px;
  border-radius: 16px;

  .rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .input {
    outline: none;
  }
  .favourite {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
}
