@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    @include formControl(345px);
  }
  .button {
    @include buttonControl(345px);
  }
}
